html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  height: 90%;
  width: auto;
  z-index: 5;
}

.popup_content {
  margin: 10px;
  padding: 0 10px;
  max-width: 60%;
  border: 3px solid #333;
  background: #FFF;
}

.leaflet-popup-content p {
  margin: 0.2em 0;
}
.leaflet-clickable {
  transition: fill-opacity .2s, fill .2s;
}
.leaflet-touch .leaflet-control-layers-toggle {
  background-image: url("../images/layers_img.png");
}


.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  bottom: 0;
  width: auto;
  height: 10%;
  line-height: 10px;
  padding: 20px;
  background-color: #F5F5F5;
}
